[env]
TELOXIDE_TOKEN=""
DATABASE_URL="postgres://postgres:postgres@localhost:5432/bot?public"
RUST_LOG="trace"
LISTEN_URL=""
APP_HOST=""

SESSION_FILE="test.session"
BOT_ID=""
BOT_ACCESS_HASH=""
TG_API_HASH=""
TG_API_ID=""